/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;




/* global css */

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}


#app {
    width: 100%;
    height: 100%;
    background-color: white;
    overflow: hidden;
    /* background-image: url('./assets/texture.png'); */
}

